/* style.css */
body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: 'Courier New', Courier, monospace; /* Régi stílusú betűtípus */
    text-align: center;
}

nav {
    background-color: #34495e;
    padding: 15px;
    border-bottom: 3px solid #e74c3c;
}

nav a {
    color: #f1c40f;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.tartalom {
    padding: 50px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #1a252f;
    border-top: 2px solid #e74c3c;
}
